{% extends "base.html" %}

{% block Title %}View Map Tracks{% endblock %}

{% block osmscripts %}
<script type="text/javascript" src="static/osm/OpenLayers.js"></script>
<script type="text/javascript" src="static/osm/OpenStreetMap.js"></script>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/js/proj4js-combined.js"></script>
<script type="text/javascript" src="static/js/plot-traces.js"></script>
{% endblock %}

{% block content %}

<div id="tabs" class="span-24 first last">
  <ul>
    <li>
      <a href="#map-tab">View</a>
    </li>
    <li>
      <a href="#map-original-tab">Original Traces</a>
    </li>
    <li>
      <a href="#upload-tab">Upload</a>
    </li>
  </ul>
  
  <div id="map-tab">
    
    {% if errors %}
    <div id="error">
      <ul>
	{% for error in errors %}
	
	<li>{{error}}</li>
	
	{% endfor %}	
      </ul>		
    </div>
    {% endif %}
    {% if messages %}
    <div id="messages">
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}			
      </ul>
    </div>
    {% endif %}
    <div class="map-loading window span-10 last"></div>
    
    <div id="map" class="window span-10 last"></div>
    <!-- spacer -->
    <div class="span-2"> <table></table></div>

    <video id="video" poster="static/images/logo.png" class="window span-10 last video-js vjs-default-skin" preload controls> </video>
    
    <fieldset class="span-22 first last" id="controls">
      <legend>Controls</legend>
      <label for="transportation">Mode of Transportation</label>
      <select name="transportation">
	<option selected="selected" value="0">Walk</option> 
	<option value="1">Train</option>
	<option value="2">Bike</option>
	<option value="3">Motor Vehicle</option>				
      </select>
      <button id="reset" class="ui-state-default">Reset</button>
    </fieldset>
    <!-- <div id="map-original" class="window span-20 last"></div> -->
  </div>
  
  <div id="map-original-tab">
    <div id="map-original" class="window span-22 last"></div>
  </div>
  
  <div id="upload-tab">
    <p>The upload is disabled, because we only have partial osm data from Mannheim.</p>
    <form id="upload" method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="ui-state-default" value="Submit" disabled="disabled"/>
    </form>
  </div>

</div>

<div class="geo-drop-down-menu">
  <ul>
    
  </ul>
</div>

<script type="text/javascript" src="/static/js/Track.js"></script>
<script type="text/javascript" src="/static/js/TrackLayer.js"></script>
<script type="text/javascript" src="/static/js/MapLayer.js"></script>
<script type="text/javascript" src="/static/js/map.js"></script>

{% endblock %}	
	
